*{
    box-sizing: border-box;
  }
  body{
    // background-color: rgb(84, 83, 83);
    width: 1110px;
    margin: 0 auto;
    background-color: #bbb;
    color: #555555;
  }
  html {
    scroll-behavior: smooth;
  }
  a{
    font-weight: bold;
}
  .red{
    color:#a62a4b;
  }
  

  header{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 4;
    a{
        text-decoration: none;
        font-weight: bold;
        color: #555555;

        &:hover{
            color: #a62a4b;
            text-decoration: underline;
        }
    }
.fa{
    padding-right: 10px;
}

   div{
    display: flex;
    flex-direction:row;
    gap:20px;
    a{
        text-decoration: none;
        color: #555555;

        &:hover{
            color: #a62a4b;
            text-decoration: underline;
        }
    }
}
   
  }
  
  main{
    // background-color: bisque;
    // border: 1px solid red;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    .fa{
        font-size: 24px;
        padding-right: 10px;
      }
    a{
        text-decoration: none;
       cursor: pointer;
       color:black;
       
       }
    section{
        // border: 1px solid red;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        // border: 1px solid red;
        .linksContact{
            display: flex;
            flex-direction: row;
            gap: 40px;
            margin-bottom: 20px;
           
        }
    }
    article{
        width: 50%;
        display: flex;
        // border: 1px solid red;
        position: relative;
        div:nth-child(2){
            width: 100px;
            height: 100px;
            background-color: #a62a4b;
            margin-left: 450px;
            position: absolute;
            top:10px;
            animation: mymove 5s  linear infinite ;
        }
        div:nth-child(3){
            width: 100px;
            height: 100px;
            background-color: #a62a4b;
            margin-left: -40px;
            position: absolute;
            bottom: -300px;
            right:200px;
            top: 140px;
            border-radius: 50% 20% / 10% 40%;
            animation: mymove 5s  linear infinite;

        }
                div:last-child {
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 60px solid transparent;
                    border-right: 80px solid #a62a4b;
                    position: absolute;
                    left: 200px;
                    top: 20px;
                    animation: mymove 5s  linear infinite  ;
                    
                    // &:hover{
                    //     animation: mymove 1s infinite ;
                    // }
                }
                @keyframes mymove {
                    
                    100% {transform: rotate(360deg);}
                  }
                .imgUser {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    img {
                        width: 40%;
                        border-radius: 50%;
                        z-index: 2;
        
                    }
                }
        
    }
  }
  .aboutme{
   display: flex;
   flex-direction: column;
   padding: 20px;
   
  }
  .about-class{
    margin-top: 100px;
    // border: 1px solid red;
    color: #555555;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    .imgdown{
        margin-top: 200px;
    }
    img{
        width: 300px;
        height: auto;
        border-radius: 5px;
       
    }
    a{
        background-color: #bbb;
        color: #a62a4b;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
  }
  .article-main{
    margin-top:100px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    // border: 1px solid red;
    margin-bottom: 100px;
    article{
        width: 200px;
        border: 1px solid;
        box-shadow: 5px 10px #555555 ;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       

    }
  }
  
  a{
    text-decoration: none;
    cursor: pointer;
    color: #555555;
    margin-bottom: 10px;
    &:hover{
        text-decoration: underline !important;
        color: #a62a4b;
    }
}

  
.skills{
    width: 100%;
    display: flex;
    flex-direction: row;
  
    
    article{
        width: 50%;
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;
  
    }
    .Skilssection{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        gap: 20px;
        
        section{
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         width: 100%;
         
         label{
            width: 50%;
            font-weight: bold;
         }
         div{
            width: 50%;
            
            
         }
      
        }
    }
}
.w3-border{
    width: 100%;
    border: 0.1px solid rgb(127, 123, 123);
    border-radius: 10px;
    
}
.backgroundRed{
 background-color: #a62a4b;
 border-radius: 10px;
 margin: 0px;
}
.titleStudy {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    

    h3 {
        display: flex;
        flex-direction: row;
        align-items: center ;
        gap: 10px;
    }
}
.ContainerStudy{
    display: flex;
    flex-direction: row;
    width: 100%;
    p,ul,li{
        font-weight: bold;
    }
    
    div{
        width: 50%;
    }
    .imgCertificate{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
            width: 50%;
            
        }
    }
    
  
}

.Contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
    //   border: 1px solid red;

    section {
        width: 50%;
        display: flex;
        flex-direction: column;

        p{
            font-weight: bold;
        }
        .fa{
            margin-right: 10px;
        }
    }

    .FormSection {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // border: 1px solid red;
        gap: 20px;
        form {
            width: 100%;
            gap: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
    
            input,textarea {
                padding: 10px;
                color: #555555;
                background-color: #bbb;
                border-radius: 5px;
                border: 1px solid #555555;
                font-weight: bold;
                
                
    
                &:focus {
                    border: none;
                }
            }
        }

        button {
            width: 30%;
            padding: 10px;
            border-radius: 5px;
            background-color: #bbb;
            text-align: center;
            font-weight: bold;
            color: #555555;
            border: 1px solid #555555;
           

            &:hover {
                background-color: #a62a4b;
                transition: 0.5s linear;
            }
        }
    }

    


}

  @media  screen and (max-width: 600px)  {
    body{
        
        width: 350px;
        margin: 0 auto 5px ;
    }
    header{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main{
        flex-direction: column;
        section{
            
            width: 100%;
            
        }
        article{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid red;
            margin-top: 100px;
            .imgUser{
                
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }        
            div:nth-child(2){
                width: 30px;
                height: 30px;
                left: -400px;
            }
            div:nth-child(3){
                width: 30px;
                height: 30px;
                left: 100px;
                top: 120px;
            }
            div:last-child {
                width: 20px;
                height: 20px;
                left: 250px;
            }
            
            
        }
    }
    .article-main{
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
        article{
            width: 30%;   
        }
     
    }
    
    .about-class{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
            height: auto;
            border-radius: 5px;
           
        }
        .imgdown{
            margin-top: 20px;
        }
    }
    .skills{
        flex-direction: column;
        article{
            width: 100%;
        }
        .Skilssection{
            width: 100%;
        }
       
    }
    .ContainerStudy{
        flex-direction: column;
        div{
            width: 100%;
           
         
        }
        .imgCertificate{
            justify-content: center;
            margin-top: 20px;
        

            }
    }
    .Contact{
        flex-direction: column;
        // border: 1px solid red;
        section{
            h1{
                text-align: center;
            }
            width: 100%;
            p{
                margin: 5px 
                
            }
           
        }
      
        
        .FormSection{
            width: 100%;
            margin-top: 10px;
      

           
          
            form{
                // border: 1px solid red;
                width: 100%;
                
                button{
                    width: 50%;
                }
            }
        }
    }
    
  }